@charset "UTF-8";

.review_table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  border: 3px solid #ecf363;
  border-radius: -10px;
}

.review_table th, .review-table td {
  padding: 8px;
  text-align: left;
  font-size: 25px;
  font-weight:none;
  text-align:center;
}

.review_table th {
  background-color: #aec88e;
  font-weight: bold;
}
.review_table tr{
	background-color:#ffffdb;
}

.review_table tr:nth-child(even) {
  background-color: #d9f18d;
}

caption{
	font-size: 30px;
	text-align:center;
	padding-bottom:15px;
}

.content{
	font-size:21px;
	text-align:center;
}