@charset "UTF-8";

#wrap{
	margin:0 auto;
	width:1000px;
}

#title{
	font-size:50px;
	text-align: center;
	padding-top:50px;
}

#top{
	padding-top:100px;
	margin:0 auto;

}

.pro_img1{
	float: left;
	width:700px;
	height:500px;
	position:relative;
	margin: 50px auto;
	overflow: hidden;
}



.controller1 span{
	position:absolute;
	background-color:tranparent;
	color:white;
	text-align: center;
	border-radius: 50%;
	padding: 10px 20px;
	top: 50%;
	font-size: 1.3em;
	cursor:pointer;
}

.controller1 span:hover{
	background-color:rgba(128,128,128,0.11);
}

.prev1{
	left:10px;
}

.prev1:hover{
	transform:tranlateX(-10px);
}

.next1{
	right:210px;
}

.next1:hover{
	transform:tranlateX(10px);
}


.pro_info{
	font-size : 25px;
	line-height: 30px;
	margin-top:150px;
}

#middle{
	padding-top:100px;
	width:1400px;
	height:500px;
	position:relative;
	margin: 50px auto;
	overflow: hidden;
	clear:both;
}

.controller2 span{
	position:absolute;
	background-color:transparent;
	color:white;
	text-align: center;
	border-radius: 50%;
	padding: 10px 20px;
	top: 50%;
	font-size: 1.3em;
	cursor:pointer;
}

.controller2 span:hover{
	background-color:rgba(128,128,128,0.11);
}

.prev2{
	left:10px;
}

.prev2:hover{
	transform:tranlateX(-10px);
}

.next2{
	right:210px;
}

.next2:hover{
	transform:tranlateX(10px);
}

#bottom{
	font-size:30px;
	margin:0 auto;
}


