@charset "UTF-8";

#wrap{
	margin:0 auto;
	width:100%	
}

#title{
	font-size:50px;
	text-align: center;
	padding-top:50px;
}

#top{
	padding-top:100px;
}

.pro_img{
	float: left;
}

.pro_info{
	float: right;
	font-size : 25px;
	line-height: 30px;
	
}
